{% extends "base.html" %}
{% block content %}
    {% if (interviews) %}
    <p class="translate-middle fs-1">Мои собеседования</p>
    <div class="d-flex justify-content-center row">
        <div class="d-flex justify-content-center" >
        <ul class="list-group list-group-horizontal" style="width: 50rem">
            <li class="list-group-item" style="width: 10rem">Дата</li>
            <li class="list-group-item" style="width: 5rem">Время</li>
            <li class="list-group-item" style="width: 100%">Описание</li>
        </ul>
        </div>
        {% for interview in interviews%}
        <div class="d-flex justify-content-center" >
        <ul class="list-group list-group-horizontal" style="width: 50rem">
            <li class="list-group-item" style="width: 10rem">{{interview.date_start}}</li>
            <li class="list-group-item" style="width: 5rem">{{interview.time_start}}</li>
            <li class="list-group-item" style="width: 100%">
                <p>Вакансия: {{interview.post}}</p>
                <p>Организация: {{interview.organization}}</p>
                <p>Зарплата: {{interview.salary}} тысяч рублей</p>
            </li>
        </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center fs-1">Нет назначенных собеседований</p>
    {% endif %}
{% endblock %}