{% extends "base.html" %}
{% block content %}
<form id="data-employer">
    <p class="text-center fs-1">Заполните профиль работодателя</p>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ФИО</span>
        <input type="text" class="form-control" placeholder="Иванов Иван Иваныч" aria-describedby="basic-addon1" name="name">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Организация</span>
        <input type="text" class="form-control" placeholder="УрФУ имени первого президента..."  aria-describedby="basic-addon2" name="organization">
    </div>

    <div class="input-group">
      <span class="input-group-text">Немного о себе</span>
      <textarea class="form-control" aria-label="With textarea" placeholder="Опыт работы" name="description"></textarea>
    </div>
    <div class="d-grid gap-1 col-12 mx-auto" style="margin-top: 3px">
            <button class="btn btn-primary" type="submit" onclick="createEmployer(event)">Создать</button>
        </div>
</form>
{% endblock %}