{% extends "base.html" %}
{% block content %}
{% if role == 'student' %}
<form id="data-student">
    <p class="text-center fs-1">Изменить резюме студента</p>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ФИО</span>
        <input type="text" class="form-control" value="{{student.fio}}" placeholder="Иванов Иван Иваныч" aria-describedby="basic-addon1" name="fio">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Роль в проектах</span>
        <input type="text" class="form-control" value="{{student.post}}" placeholder="Python-разработчик" aria-label="Python-разработчик" aria-describedby="basic-addon2" name="post">
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Уровень навыков</label>
        <select class="form-select" id="inputGroupSelect01" name="level_skill">
            <option selected>Choose...</option>
            <option value="1">Junior</option>
            <option value="2">Middle</option>
            <option value="3">Senior</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Специальность</span>
        <input type="text" class="form-control" value="{{student.speciality}}" placeholder="Программная инженерия" aria-label="Python-разработчик" aria-describedby="basic-addon2" name="speciality">
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect02">Курс обучения</label>
        <select class="form-select" id="inputGroupSelect02" name="course">
            <option selected>Choose...</option>
            <option value="1">1 курс</option>
            <option value="2">2 курс</option>
            <option value="3">3 курс</option>
            <option value="4">4 курс</option>
            <option value="5">5 курс (Магистратура 1 курс)</option>
            <option value="6">6 курс (Магистратура 2 курс)</option>
        </select>
    </div>

    <div class="input-group">
      <span class="input-group-text">Любая информация о ваших навыках и умения</span>
      <input class="form-control" aria-label="With textarea" value="{{student.ability}}" name="ability">
    </div>
    <div class="d-grid gap-1 col-12 mx-auto" style="margin-top: 3px">
            <button class="btn btn-primary" type="submit" onclick="editProfile(event, '{{role}}', '{{student.id}}')">Обновить</button>
        </div>
</form>
{% endif %}
{% if role == 'employer'%}
    <form id="data-employer">
    <p class="text-center fs-1">Изменить профиль работодателя</p>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon4">ФИО</span>
        <input type="text" class="form-control" value="{{employer.name}}" placeholder="Иванов Иван Иваныч" aria-describedby="basic-addon1" name="name">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon5">Организация</span>
        <input type="text" class="form-control" value="{{employer.organization}}" placeholder="УрФУ имени первого президента..."  aria-describedby="basic-addon2" name="organization">
    </div>

    <div class="input-group">
      <span class="input-group-text">Немного о себе</span>
      <input class="form-control" value='{{employer.description}}' aria-label="With textarea" placeholder="Опыт работы" name="description">
    </div>
    <div class="d-grid gap-1 col-12 mx-auto" style="margin-top: 3px">
            <button class="btn btn-primary" type="submit" onclick="editProfile(event, '{{role}}', '{{employer.id}}')">Обновить</button>
        </div>
</form>
{% endif %}
{% endblock %}