{% extends "base.html" %}
{% block content %}
<body>
    <p class="text-center fs-1">Отзывы обо мне</p>
    {% if (feedbacks) %}
        <div class="row g-1 d-flex justify-content-center position-relative">
        {% for feedback in feedbacks %}
        <div class="card" style="width: 21rem;">
        <div class="card-body">
        <h5 class="card-title">{{feedback.from}}</h5>
        <p class="card-text"> Рейтинг: {{feedback.rate}}/10</p>
        <p class="card-text"> Описание: {{feedback.description}}</p>
        </div>
        </div>
        {% endfor %}
        </div>
    {% else %}
    <p class="text-center fs-1">Нет оставленных отзывов</p>
    {% endif %}
</body>
{% endblock %}