{% extends "base.html" %}
{% block content %}
<body>
{% if (feedbacks) %}
    <p class="text-center fs-1">Отзывы</p>
    <div class="row-1 g-1 d-flex justify-content-center">
    {% for feedback in feedbacks %}
    <div class="card" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title">Студент: {{feedback.student}}</h5>
        <p class="card-text"> Рейтинг: {{feedback.rate}}/10</p>
        <p class="card-text"> Описание: {{feedback.description}}</p>
    </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
        <p class="text-center fs-1">Нет отзывов</p>
    {% endif %}
</body>
{% endblock %}