{% extends "base.html" %}
{% block content %}
    <p class="text-center text-uppercase fs-1">Добро пожаловать</p>
    <p class="text-center fs-2">Приветсвую вас на сайте "Стажировка без проблем"!</p>
    <p class="text-center fs-3">Если вы студент, можете воспользоваться только вкладкой "Студенту" в верхнем меню.</p>
    <p class="text-center fs-3">Если вы работодатель, можете воспользоваться только вкладкой "Работодателю" в верхнем меню.</p>
    <p class="text-center fs-3">Вкладка "Личный кабинет" общая!</p>
    <p class="text-center fs-4">Но для начала вы должны<a href="/register">зарегистрироваться</a> или <a href="/login">войти в аккаунт</a>!</p>
{% endblock %}