{% extends "base.html" %}
{% block content %}
<div class="container align-items-center">
    <p class="text-center fs-1">Войти</p>
    <form class="row justify-content-center g-3" id="login-form"novalidate>
        <div class="col-md-4" style="width: 20%">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>

        <div class="col-md-6" style="width: 20%">
            <label for="password" class="form-label" style="width: 10%">Пароль</label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid gap-1 col-12 mx-auto">
            <button class="btn btn-primary mx-auto" type="submit" onclick="loginFunction(event)">Войти</button>
        </div>
    </form>
</div>
{% endblock %}