{% extends "base.html" %}
{% block content %}
<p class="text-center fs-1">Ответы от вакансии "{{vacancy.post}}"</p>
<div class="d-flex justify-content-center row" style="margin-bottom: 5px">
    <button type="button" class="btn btn-primary" onclick="goMessage(event, '{{id_student}}', '{{vacancy.id}}', '1')">Написать еще одно сообщение</button>
</div>
{% if (messages) %}
    <div class="row g-1 d-flex justify-content-center position-relative">
        {% for message in messages %}
        <div class="card" style="width: 21rem;">
            <div class="card-body">
        <p class="card-text"> Сообщение: {{message.description}}</p>
        </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center fs-1">Нет сообщений</p>
    {% endif %}
{% endblock %}