{% extends "base.html" %}
{% block content %}
<p class="text-center fs-1">Сообщения по вакансии "{{vacancy.post}}"</p>
{% if (messages) %}
    <div class="row g-1 d-flex justify-content-center position-relative">
        {% for message in messages %}
        <div class="card" style="width: 21rem;">
            <div class="card-body">
        <p class="card-text"> От кого: {{message.student}}</p>
        <p class="card-text"> Сообщение: {{message.description}}</p>
        <div class="d-flex justify-content-center row">
        <button type="button" class="btn btn-primary" onclick="goMessage(event, '{{message.id_student}}', '{{message.id_vacancy}}', '2')">Ответить</button>
        </div>
        </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center fs-1">Нет сообщений</p>
    {% endif %}
{% endblock %}