{% extends "base.html" %}
{% block content %}
<body>
    <p class="text-center fs-1">Опубликованные отзывы</p>
    {% if (type0) %}
        <p class="text-center fs-1">О руководителях</p>
        <p></p>
        <div class="row g-1 d-flex justify-content-center position-relative">
        {% for feedback in type0 %}
        <div class="card" style="width: 21rem;">
        <div class="card-body">
        <h5 class="card-title">{{feedback.employer}}</h5>
        <p class="card-text"> Рейтинг: {{feedback.rate}}/10</p>
        <p class="card-text"> Описание: {{feedback.description}}</p>
        <div class="d-flex justify-content-center row">
        <button type="button" class="btn btn-primary" onclick="goeditFeedback(event, '{{feedback.employer}}', '{{feedback.rate}}', '{{feedback.description}}', 0, 'feedback.id')">Редактировать</button>
        </div>
        <p></p>
    </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if (type1) %}
        <p class="text-center fs-1">О вакансиях</p>
        <p></p>
        <div class="row g-1 d-flex justify-content-center position-relative">
        {% for feedback in type1 %}
        <div class="card" style="width: 21rem;">
        <div class="card-body">
        <h5 class="card-title">{{feedback.vacancy}}</h5>
        <p class="card-text"> Рейтинг: {{feedback.rate}}/10</p>
        <p class="card-text"> Описание: {{feedback.description}}</p>
        <div class="d-flex justify-content-center row">
        <button type="button" class="btn btn-primary" onclick="goeditFeedback(event, '{{feedback.vacancy}}', '{{feedback.rate}}', '{{feedback.description}}', 1, 'feedback.id')">Редактировать</button>
        </div>
        <p></p>
    </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if (type2) %}
        <p class="text-center fs-1">О студентах</p>
        <p></p>
        <div class="row g-1 d-flex justify-content-center position-relative">
        {% for feedback in type2 %}
        <div class="card" style="width: 21rem;">
        <div class="card-body">
        <h5 class="card-title">{{feedback.student}}</h5>
        <p class="card-text"> Рейтинг: {{feedback.rate}}/10</p>
        <p class="card-text"> Описание: {{feedback.description}}</p>
        <div class="d-flex justify-content-center row">
        <button type="button" class="btn btn-primary" onclick="goeditFeedback(event, '{{feedback.student}}', '{{feedback.rate}}', '{{feedback.description}}', 'feedback.id')">Редактировать</button>
        </div>
        <p></p>
    </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
</body>
{% endblock %}